* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /* background-color: #f1f3f5; */
}

html {
    font-family: Arial, Helvetica, sans-serif;
    color: #1C1E23;
}

main {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #F1F3F5;
}

.content {
    height: 100vh;
    /* display: flex; */
    scroll-snap-align: start;
    scroll-snap-stop: always;
    background-color: #F1F3F5;
    padding-top: 6%;
}

#trip-intro {
    position: relative;
    background-color: #F1F3F5;
}

#heading {
    text-align: center;
    padding-top: 3%;
    margin-bottom: 4%;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    opacity: 0;
    transform: translateY(-100px);
}

h2 {
    text-align: center;
}

#title {
    font-size: 1.6rem;
    text-align: center;
}

#begin {
    text-align: center;
    margin-bottom: 0;
    font-size: large;
    position: absolute;
    bottom: 21%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.8rem;
    font-family: "Montserrat", sans-serif;
    clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
    opacity: 0;
}

.highlight {
    font-size: 1.9rem;
    font-weight:600;
    border-bottom: 1.8px solid #FFCE0C;
    color: #1C1E23;
}

#stationName {
    border-bottom: 1.5px solid #FFCE0C;
}

#insight p {
    font-size: 1.8rem;
    line-height: 3.1rem;
    color: #788093;
}

#textTwo {
    margin-top: 40px;
}

#lollipop {
    height: 65vh ;
    width: 100% ;
    position: relative ; 
}

.tooltipL {
    position: absolute;
    left: 0px;
    top: 0px;
    visibility: hidden;
    pointer-events: none;
    background-color:#E9EAED ;
    padding: 1% ;
    line-height: 1.3rem ;
}

#landing {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    background-color:#f1f3f5;
    max-width: 100%;
    height: 88vh;
    /* margin: 0; */
    padding: 0;
}

.intro-text {
    margin-left: 18%;
    margin-right: 18%;
    font-size: 1.3rem;
    line-height: 2.21rem;
    opacity: 0;
    transform: translateY(-100px);
}

#bar {
    height: 8vh;
    overflow: hidden;
    position: sticky;
    top: 0px;
    background-color:#f1f3f5;
    padding-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}

#bar-start {
    height: 8vh;
    overflow: hidden;
    position: relative;
    top: -22%;
    background-color:#f1f3f5;
    margin-left: auto;
    margin-right: auto;
}

#menu {
    text-align:center;
    margin-top: 1%;
    opacity: 0;
    transform: translateY(100px);
}

#butt {
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    padding-left: 1%;
    padding-right: 1%;
}

.timeLabels {
    font-size: 12px;
    color: #FFCE0C;
}

.tooltipR {
    position: absolute;
    background-color:#E9EAED;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    pointer-events: none;
    padding: 1%;
    line-height: 1.3rem;
    text-align: center;
}

#radial {
    position: relative; 
    background-color: #F1F3F5;
    height: 80%;
}

.axis {
    color: #B0B5C0;
    stroke-dasharray: 3,5
}

.axis text {
    fill: #1C1E23;
    font-size: 1rem;
    text-anchor: end;
}

.selector {
    color: #0d6efd;
    margin-right: 2%;
    border-color: #0d6efd;
    background-color:#F1F3F5;
    padding: 0.3%;
    padding-top: 0.2%;
    margin-bottom: 3.5%;
}

#one {
    padding-top: 10%;
}

#insight-text {
    margin-top: 6%;
    margin-left: 13%;
    margin-right: 13%;
}

.viz-wrapper {
    margin-left: 10%;
    margin-right: 10%;
}

#crowd {
    margin-top: 5%;
}

.copy {
    /* margin-top: 5%; */
    margin-left: 18%;
    margin-right: 18%;
    color: #81848a;
    font-size: 0.8rem;
}

#crowd-copy {
    margin-top: 15%;
}

#radial-copy {
    margin-left: 25%;
    margin-right: 25%;
}

#lol-copy {
    margin-top: 2%;
}

#trip-chart {
    position: relative;
    background-color: #F1F3F5;
    padding-top: 0px;
    height: 170%;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: 
    "left right";
}

#trip {
    background-color: #f1f3f5;
    height: 100%;
    grid-area: right;
}

#trip-bar {
    grid-area: left;
    padding: 10%;
    padding-top: 25%;;
    background-color: #f1f3f5;
}

.labelT {
    font-size: 0.85rem;
    fill: #494F5C;
}

#footer {
    position: relative;
    padding-top: 0;
    height: 6vh;
    padding-top: 1%;
    text-align: center;
    border-top: 1px dotted #B0B5C0;
    margin-left: 15%;
    margin-right: 15%;
}

#footer p {
    display: inline;
    margin-right: 50px;
    color: #494F5C;
    font-size: 0.85rem;
}

#footer a {
    color: #494F5C;
    text-decoration: none;
}

#footer a:hover {
    color: #494F5C;
    text-decoration: underline;
}

#footer a:active {
    color: #494F5C;
}

#crowd-copy a {
    color: #81848a;;
    text-decoration: underline;
}

#crowd-copy a:hover {
    color: #0d6efd;
    text-decoration: underline;
}

#footer a:active {
    color: #81848a;;
    text-decoration: underline;
}

.trip-text {
    font-size: 0.8rem;
    color: #81848a;
    text-align: left;
}

#trip-intro {
    padding-top: 20%;
    padding-left: 18%;
    padding-right: 18%;
}

#trip-intro p {
    font-size: 1.5rem;
    line-height: 2.25rem;
    text-align: left;
    margin-bottom: 5%;
}

#buttTrip {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

#buttTrip-div {
    margin-top: 5%;
    margin-bottom: 10%;
}

#black {
    color: #1C1E23;
    margin-bottom: 10%;
    font-size: 0.8rem;
}

.hide {
    visibility: hidden;
}

.title-word {
    animation: color-animation 2s linear infinite;
}

.title-word-1 {
    --color-1: #0d6efd;
    --color-2: #788093;
    --color-3: #788093;
    --color-4: #788093;
}

.title-word-2 {
    --color-1: #788093;
    --color-2: #0d6efd;
    --color-3: #788093;
    --color-4: #788093;
}

.title-word-3 {
    --color-1: #788093;
    --color-2: #788093;
    --color-3: #0d6efd;
    --color-4: #788093;
}

.title-word-4 {
    --color-1: #788093;
    --color-2: #788093;
    --color-3: #788093;
    --color-4: #0d6efd;
}

@keyframes color-animation {
    0%    {color: var(--color-1)}
    20%   {color: var(--color-1)}
    21%   {color: var(--color-2)}
    40%   {color: var(--color-2)}
    41%   {color: var(--color-3)}
    60%   {color: var(--color-3)}
    61%   {color: var(--color-4)}
    99%   {color: var(--color-4)}
    100%  {color: var(--color-1)}
}

.legend {
    /* background-color: #FFCE0C; */
    margin: 0;
    padding: 0;
}

#small-bottom {
    margin-bottom: 1.5rem;
}

.hover {
    color: #165C96;
    font-weight: bolder;
}